---
import MainLayout from "../layouts/MainLayout.astro"

---

<MainLayout>
    <h1>Om Nina</h1>
    <section>
        <section>
            <img src="" alt="">
            <h2>Livslang inspiration</h2>
            <p>Smykkedesign har fyldt Ninas liv så længe, at hun ikke husker, hvornår det startede. Når søstrene badede neden for sommerhuset, samlede hun sten i strandkanten. </p>
            <p>Det var ikke de farvestrålende pofyr og granit, der optog hende, snarere det naturlige skin i den sorte lava eller spillet i flintens politur.</p>
            <p>Hun sammensatte stensamlingen på sommerhusets terrasse, på hylder, i vindueskarme, og det var som om, der for hende opstod et nyt visuelt sprog i farverne og formernes samspil. </p>
            <p>Senere havde indretningen af hendes stuer, anretningen af et hverdagsmåltid eller en gåtur langs skovbrynet ikke blot et rationelt sigte.</p>
        </section>
          
        <section>
            <img src="" alt="">
            <h2>Min rejse som smykkedesigner </h2>
            <p>Nina blev elev på Værkstedet for Smykker og Brugsting ved guldsmed Carsten From. Nu var hun ikke længere i tvivl om, hvilken vej hun skulle følge. Hun søgte mod nye steder, der kunne inspirere og sugede til sig.</p>
            <p> På Skolen for Billedkunst, hos en portrætfotograf og på et tegnefilmstudie – imens hun sneg sig til at designe smykker i hver en ledig stund. </p>
            <p>Siden drog hun landet rundt og udstillede sine kollektioner på slotte og markeder. Og alt sammen ledte det til, at hun i dag har genfundet “somrene i strandkanten” i sin smykkeforretning, Nina Rønde Jewelry ved Rundetårn.</p>
            <p>Her realiserer hun det, hun har drømt om, siden hun var barn: I de fleste af døgnets timer er Nina fordybet i at lægge personlighed i formgivningen af sine organiske smykker, og ind imellem må hun knibe sig selv i armen for, om hun tør tro på, at drømmen virkelig er gået i opfyldelse.</p>
        </section>

        

        <section>
            <img src="" alt="">
            <h2>Min inspiration</h2>
            <p>Mine design skiller sig ud ved at rumme et rustikt og samtidig et feminint særpræg. Kollektionen er en rejse fra Italien over Byzantinien til Fjernøsten.</p>
            <h2>Smykkernes navne</h2>
            <p>Kreationerne er fortrinsvis navngivet efter epokegørende kvindelige kunstnere, hvor flere af dem har virket som inspirationskilde til mit design.</p>
           
        </section>

    </section>
</MainLayout>