---
import MainLayout from "../layouts/MainLayout.astro"

---

<MainLayout>
    <h1>Vores ansvar</h1>
    <section>
        <section class="grid_1">
            
            <img class="img_nina1" src="/img_gaffel/skov1.webp" alt="Skov">
      
            <article class="mobile_box grid_box">
                <h2>For hvert smykke du køber planter vi et træ i Danmark</h2>
                <p>Nye træer er bevisligt en af de mest effektive løsninger, hvis vi skal redde klimaet. Grantræer vokser hurtigt og optager co2 yderst effektivt. Og ikke kun co2 – træet optager også en række skadelige stoffer.</p>
                <p> Derfor har jeg valgt at bruge en del af min forretnings overskud på at plante grantræer. For hvert smykke du køber, planter vi et træ.</p>
                <h2>Sammen hjælper vi klimaet</h2> 
                <p>Alle unge skud bliver plantet i Danmark, så vi kan få vished for, at de ikke bliver fældet. For selvom vi er et lille land, har vi rigeligt med hektarer, som er velegnet til skovvækst. Fagfolk tager sig af at røgte de nye træer, til de er store nok, til at kunne klare sig selv.</p>   
        </article>
        </section>
          
        <section class="grid_1">
           <img class="order1 img_nina2" src="/img_gaffel/skov2.webp" alt="blomster">
           <article class=" mobile_box">
                <h2>De langsigtede klimamål</h2>
                <p>På sigt handler det om at skabe nye skove i Danmark. Udover gevinsten for klimaet vil det fordre nyt dyreliv og insekt-diversitet. Foruden at vi alle sammen vil få fornøjelse af at kunne opholde os mere i skov og natur. Det er sundt for dyr som for mennesker.</p>
                <p>
Jeg samarbejder blandt andet med organisationer som ”Klimatræ” og “Growingtrees”.</p>
                <p>Du vil ikke blot glæde dig over dit nye smykkes design, men også over, at det netop har været med til skubbe klimaet en lille smule i den rigtige retning.</p>
            </article>
        </section>

        
    </section>
</MainLayout>

<style>
        h1,h2{
        font-weight: 200;
        }

        h1{
        font-size: var(--font-size-xxxl);
        text-align: center;
 
        }
        h2{
            font-size: var(--font-size-l);
              margin-bottom: 20px;
              margin-top: 10px;
        }
        p{
            margin-bottom: 10px;
        }
        img{
            margin-top: 20px;
        }
        .grid_1{
            margin: 5%;
        }
          .mobile_box{
            display: grid;
            margin-top: 5%;
            padding: 5%;
            background-color: var(--box-color);
        }
      
    @media (min-width: 760px){

        img{
            margin-top: 0px;
        }

     

        .grid_1{
            display: grid;
            grid-template-columns: 1fr 1fr;  /*To kolonner med lige bredde */
            background-color: var(--box-color);
        
        }

        .order1{
             display: flex;
        order: 1;
   
        }


    .img_nina1{
         padding: 30px;
        }
    .img_nina2{
         padding: 30px;
         margin-left: 20px;
        }
        }
</style>